<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><img src="../assets/image/colorglotiburtinagiallo.png" style="width:15rem; padding-left: 1rem"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Libreria Colori</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Preventivi</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Liberatoria</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Consegna</a>
      </li>
    </ul>
  </div>
</nav>
<h1 class="text-center pt-2">LIBRERIA COLORI</h1>
<div class="colorGroup">
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="../assets/imageColori/BMWMarrone.jpg" style="height: 20rem;" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Tabacco Chiaro BMW</h5>
    <a href="#" class="btn btn-primary">Vedi il colore</a>
  </div>
</div>
</div>
<router-outlet></router-outlet>
